body{background-color:#97adef;
	
	background-image:url("http://raw.githubusercontent.com/Jthecundiff/MonkeyvsHippo/gh-pages/images/tile.jpg");}
a{color:#f209d3;}
a:hover{color:#2aff16;}
h1{color:#dee506;
	text-align: center;}
h2{color:#dee506;
	text-align: center;}
p{color:#99722c;
	   text-align: center;}
li{color:#99722c;}


