body{background-color:#97adef;
	color:#99722c;
	background-image:url(Images/tile.jpg);}
	a{color:#f209d3;}
	a:hover{color:#2aff16;}
	h1{color:#dee506;
	text-align: center;}
	h2{color:#dee506;
		text-align: center;}
	p{color:#99722c;}
img{text-align:right;}
